<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title" routerLink="../homepage">
            <p>GitHub Search</p>
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
    </div>

    <div class="nav-links">
        <a routerLink="../githubprofile">Users</a>
        <a routerLink="../repositories">Repositories</a>
    </div>
</div>